.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .listWrapper {
    height: 90vh;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .heading{
    text-align: center;
  }

  .title{
    font-feature-settings: 'pum' on, 'lum' on;
    letter-spacing: -0.03em;
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0 20px 0;
  }
  
  .para{
    color: #242424;
    line-height: 24px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
  }
  
  .listSearch {
    position: relative;
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
    height: max-content;
  }
  
  .lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .lsItem>label{
    font-size: 12px;
  }
  
  .lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  
  .lsOptionInput{
    width: 50px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .listResult {
    flex: 3;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
  }
  
  .grid-item {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    min-height: 100px;
  }

  .be{
    display: flex;
    margin-bottom: 8px;
  }

  .cz{
    display: block;
    margin-right: 8px;
  }

  .do{
    cursor: pointer;
    padding: 0px;
    border: none;
    border-radius: 100px;
    margin: 0 3px;
  }

  .dr{
    white-space-collapse: collapse;
    text-wrap: nowrap;
    border-radius: 100px;
    position: relative;
    padding: 8px 16px;
    line-height: 20px;
    font-size: 14px;
    background-color: #F2F2F2;
    color: #242424;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active{
    background-color: #0071c2;
    color: #F2F2F2;
  }

  .interest-fields{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .dm{
    display: inline;
    padding-left: 8px;
    padding-top: 3px;
  }

  .continue{
    padding: 16px 0;
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 1);
  }

  .continue-sub{
    display: flex;
    justify-content: center;
  }

  .continue-sub-1{
    max-width: 680px;
    margin: 0 24px;
    width: 100%;
    min-width: 0;
    text-align: center;
  }

  .continue-btn{
    width: 280px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: rgba(25, 25, 25, 1);
    background: rgba(25, 25, 25, 1);
    fill: rgba(255, 255, 255, 1);
    padding: 8px 0;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  