.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  color: white;
}

.navButton{
  height: 35px;
  background-color: #0071c2;
  color: white;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

a{
  text-decoration: none;
}